[Unit]
Description=Radioglobe Streaming Test Service
#Note replace USER with username - the install script will do this for you

# Only start if system is configured
ConditionPathExists=/home/USER/RadioGlobe/stations.json

After=network.target
Wants=network.target

[Service]
Type=simple

User=USER
Group=USER

# Start python script in unbuffered mode ( output to logs )
WorkingDirectory=/home/USER/RadioGlobe
ExecStart=/usr/bin/python3 -u streaming.py

# Can be enabled if app crashes
#Restart=always
#RestartSec=3

[Install]
# Start unit when the system is starting
WantedBy=multi-user.target
